<div class="block">
  <span class="top">{{ top }}</span>
  <span class="dots">
    <ng-icon [svg]='faSolidEllipsisVertical' size="20"/>
  </span>

  <div class="center">
    <ng-icon [svg]="faSolidTable" size="36"/>
    <span>

    No data available
    </span>

  </div>
  <p class="bottomText">There is no data available for selected criteria</p>
  <img class="leftCorner" src="https://icon-library.com/images/corner-icon/corner-icon-25.jpg">
  <img class="rightCorner" src="https://icon-library.com/images/corner-icon/corner-icon-25.jpg">

</div>
