.navContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 90px;
  height: 100%;

  .bottom {
    overflow-y: scroll;
  }

  & > h1 {
    font-size: 22px;
    color: White;
    letter-spacing: 3px;
    margin-top: 5px;
    font-family: Comforta;
    padding-left: 3px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--borderColor);
  }

  .menuLink {
    display: flex;
    color: white;
    width: 100%;
    height: 29px;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid rgba(94, 94, 94, 0.06);

    .icon {
      font-size: 17px;

      ng-cion {
        color: white;
      }

    }

    .label {
      font-size: 29px;

    }

    &.active {
      background-color: rgba(255, 106, 0, 0.38);
    }

  }
}


.left {
  padding-left: 5px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;

  ng-icon {
    font-size: 25px;
    margin: auto;
  }
}

.center {
  width: 60%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  font-size: 17px;
  align-items: center;
}

.right {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;

}

.topControls {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;

  .filterIcon {
    position: absolute;
    left: 10px;
    color: rgba(0, 0, 0, 0.64);
    font-size: 15px;
  }

  input {
    height: 30px;
    padding-left: 30px;
    border-radius: 3px;
    border: 1px solid black;
    margin-right: 10px;
  }

  ng-icon {
    font-size: 17px;
    color: white;
    cursor: pointer;
  }
}
