.menu {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  .menu-header {
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    height: 30px;
    display: flex;
    align-items: flex-start;

    &:hover {
      background-color: rgba(255, 106, 0, 0.17);
    }

    text-align: center;
  }

  .menu-content {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    display: flex;
    flex-direction: column;

    a {

      text-decoration: none;
      color: #333;

      &:hover {
        background-color: rgba(255, 106, 0, 0.17);
      }

      min-height: 30px;
      height: 30px;
      display: flex;

      align-items: center;

      span {
        font-size: 17px;
        color: white;
      }


      .lottie {

      }
    }

    &.open {
      max-height: 500px;
    }
  }


}

.left {
  width: 30px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ng-icon {
    font-size: 12px;
    margin: auto;
  }
}

.leftBottom {
  margin-left: 9px;
  border-left: 1px solid #ffffff;
  height: 100%;
  width: 10px;
}

.center {
  width: 90%;
  padding-left: 10px;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;


}

.right {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  ng-icon {
    height: 15px;
    width: 15px;
    color: rgba(255, 255, 255, 0.3);
  }
}

.icon {
  transition: 300ms;

  &.open {
    transform: rotate(-90deg);
  }
}

.innerCenter {
  color: #bcbcbc !important;

}
