<div class="body">
  <div class="top">
    <h2>Preferences</h2>
    <span (click)="dialogRef.close()" class="x">x</span>
  </div>

  <div class="bottom">

    <div class="part">
      <ng-icon [svg]="faBrandScreenpal"/>
      Display
    </div>
    <div class="part">
      <ng-icon [svg]="faSolidPalette"/>
      Theme
    </div>
    <div class="part">
      <ng-icon [svg]="faSolidPerson"/>
      Accessibility
    </div>
    <div class="part">
      <ng-icon [svg]="faBell"/>
      Notifications
    </div>
    <div class="part">
      <ng-icon [svg]="faSolidGears"/>
      Debugging
    </div>
    <div class="part">
      <ng-icon [svg]="faSolidEarthEurope"/>
      Language & Regions
    </div>
    <div class="part">
      <ng-icon [svg]="faFaceSmile"/>
      User Experiences
    </div>
  </div>
</div>
